<!-- EJS - BackEndda FrontEndni qurishga yordam beradigon package -->

    <!-- includes folderni ichidan - headni chaqirib olamiz -->
    <%~ include('includes/header') %>


    <!-- BODY -->
    <body>
        <h1>Login page</h1>
    </body>

    <!-- includes folderni ichidan - footerni chaqirib olamiz -->
    <%~ include('includes/footer') %>