<%- include("includes/header") %>


<link rel="stylesheet" type="text/css" href="/css/login.css">

<body>
    <form 
        onsubmit="return validateSignUpForm()" 
        class="login_container" 
        action="/resto/sign-up", 
        method="POST" 
        enctype="multipart/form-data"
    > 
        <div class="login_frame" style="width: 650px; height: 730px">
            <!-- LOGIN TOP -->
            <div class="login_top">
                <span>Ro'yhatdan o'tish</span>
                <div>Bosh sahifaga qaytish <a href="/resto" style="color: #6440fb;">Home</a></div>
                <p>Ro'yhatdan allaqachon o'tganmisiz? <a href="/resto/login" style="color: #6440fb;">Login</a></p>
            </div>

            <!-- mb_nick va mb_phone -->
            <div class="signup_input_frame">
                <!-- mb_nick -->
                <div class="sign_up_frame">
                    <label>Username</label>
                    <input type="text" name="mb_nick" class="mb_nick" placeholder="Username" value="" required />
                </div>

                <!-- mb_phone -->
                <div class="sign_up_frame">
                    <label>Tel raqam</label>
                    <input type="text" name="mb_phone" class="mb_phone" placeholder="Tel raqam" value="" required />
                </div>
            </div>

            <!-- mb_password -->
            <div class="signup_input_frame">
                <!-- mb_password -->
                <div class="sign_up_frame">
                    <label>Password</label>
                    <input type="password" name="mb_password" class="mb_password" placeholder="Password" value="" required/>
                </div>

                <!-- mb_passwordni tasdiqlash -->
                <div class="sign_up_frame">
                    <label>Passwordni tasdiqlash</label>
                    <input type="password" name="mb_confirm_password" class="mb_confirm_password" placeholder="Passwordni tasdiqlash" value="" required/>
                </div>
            </div>

            <!-- IMAGE -->
            <div class="login_input_frame">
                <div class="media-frame">
                    <img class="upload_img_frame" src="/images/default_resto.jpg" alt="" />
                    <div class="upload_container">
                        <span class="media_text">Restaurant Rasmi</span>
                        <div class="filebox bs3-primary preview-image">
                            <input class="upload-name" value="Rasmni tanlang" disabled="disabled">
                            <label for="input_file">Rasm Yuklash</label>
                            <input 
                                type="file" 
                                id="input_file" 
                                name="restaurant_img" 
                                class="upload-hidden form-control-file restaurant_img"
                            />
                        </div>
                        <p class="thumbnail_desc">Oshhona rasmingizni bu yerga yuklang, <br>Muhim ko'rsatmalar: .jpg, .jpeg, yoki .png. <br>rasmda matn yo'q bo'lishi darkor!</p>
                    </div>
                </div>
            </div>

            <!-- signup button -->
            <button class="login_btn btn" name="signup" type="submit">Ro'yhatdan o'tish</button>
        </div>
    </form>
</body>


<!-- SCRIPT -->
<script>

    $(function() {
        let fileTarget = $('.filebox .upload-hidden');
        let filename = '';

        fileTarget.on("change", function() {
            if(window.FileReader) {
                const uploading_file = $(this)[0].files[0]; 
                const fileType = uploading_file["type"]; 
                const validImageTypes = ["image/jpg", "image/jpeg", "image/png"]; 

                if(!validImageTypes.includes(fileType)) { 
                    alert("Iltimos ruhsat etilgan formatdagi rasmlarni yuklang: jpg, jpeg, va png!");
                } else {
                    if(uploading_file) { 
                        console.log(URL.createObjectURL(uploading_file)); 
                        $(".upload_img_frame") 
                            .attr("src", URL.createObjectURL(uploading_file)) 
                    }
                    filename = uploading_file.name; 
                }
            }

            $(this).siblings(".upload-name").val(filename);
        });
    });

    function validateSignUpForm() {
        const mb_nick = $(".mb_nick").val();
        const mb_phone = $(".mb_phone").val();
        const mb_password = $(".mb_password").val();
        const mb_confirm_password = $(".mb_confirm_password").val();
        const restaurant_img = $(".restaurant_img").get(0).files[0] ?? null;

        if(mb_nick == "" || mb_phone == "" || mb_password == "" || mb_confirm_password == "") {
            alert('Iltimos hamma malumotlarni kiriting!');
            return false;

        } else if(mb_password !== mb_confirm_password) {
            alert(`Iltimos passwordni to'g'ri kiriting!`);
            return false;
        }

        if(!restaurant_img) {
            alert('Iltimos rasmni yuklang!');
            return false;
        }

        return true;
    }

</script>


<%- include('includes/footer') %>